<div class="feature-show">
	<div class="feature-header">
		<table>
			<tr>
				<td>
					<%= image_tag @company.avatar(:small) %>
				</td>
				<td>
					<div id="title" style="margin-left:20px">
						<a href="<%= @company.website_url %>" target="_blank" style="font-size: 28px"><%= @company.name %></a>
						<div id="company">
							<% @features.each do |feature| %><%= Company.find(feature.company_ids).count %><% end %> features
						</div>
						<div id="poster">

							

						</div>
					</div>
				</td>
			</tr>
		</table>
	</div>
</div>
<br>

<% @features.each do |feature| %>
<div class='feature-box'>
	<div id="upvote-box">
		<%= link_to content_tag(:i, "", class: "glyphicon glyphicon-arrow-up") + "", vote_feature_path(feature, type: "up"), method: "post" %>
		<br>
		<%= pluralize feature.reputation_for(:votes).to_i, "" %>
	</div>
	<div id="show-title">
		<a href="/features/<%= feature.id %>"><%= feature.name %></a>
		<div id="show-company">
			<% Company.find(feature.company_ids).each do |c| %> 
			<a href="/companies/<%= c.id %>" target="_blank"><%= c.name %></a>
			<% end %>
		</div>
	</div>

</div>
<% end %>

<div style="margin-top: 20px">
   <form action="/features/new">
      <input class="new-feature-button" type="submit" value="Post a feature">
  </form>
</div>