<table class="feature-box">
    <tr>
        <td rowspan="2" id="upvote-box">
            <%= link_to content_tag(:i, "", class: "glyphicon glyphicon-arrow-up") + "", vote_feature_path(feature, type: "up"), method: "post" %>
            <br>
            <%= pluralize feature.reputation_for(:votes).to_i, "" %>
        </td>
        <td>
            <table>
                <tr>
                <td id="box-name">
                        <!-- <a href="#feature" data-toggle="modal"><strong><%= feature.name %></strong> @ <%= feature.company %></a> -->
                        <a href="/features/<%= feature.id %>">
                            <%= h truncate(feature.name, :length => 50) %>
                        </a>
                    </td>
                </tr>
                <tr>
                    <td id="box-company">
                        <a href="#">
                            <%= feature.company %>
                        </a>
                    </td>
                </tr>
            </table>
        </td>
        <td rowspan="2" id="box-image">
            <%= image_tag User.find(feature.user_id).avatar(:medium) %>
        </td>
    </tr>
</table>




<!-- feature Modal -->
<div class="modal fade" id="feature">
    <div class="modal-dialog">
        <div class="modal-content" style="border-radius: 0px">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h2 style="text-align: center; font-family: lato">Start giving & receiving feedback</h2>
            </div>
            <div class="modal-body">

                <!-- start form body -->
                <div class="leads-modal">

                    <%= feature.name %>
                    <%= feature.company %>

                </div>
                <!-- end form body -->

            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
</div>
