<div class='feature-box'>
    <div id="upvote-box">
        <%= link_to content_tag(:i, "", class: "glyphicon glyphicon-arrow-up") + "", vote_feature_path(feature, type: "up"), method: "post" %>
        <br>
        <%= pluralize feature.reputation_for(:votes).to_i, "" %>
    </div>
    <div id="show-title">
        <a href="/features/<%= feature.id %>"><%= feature.name %></a>
        <div id="show-company">
            <% Company.find(feature.company_ids).each do |c| %> 
            <a href="/companies/<%= c.id %>" target="_blank"><%= c.name %></a>
            <% end %>
        </div>
    </div>

    <!-- <div id="box-image">
        <%= image_tag User.find(feature.user_id).avatar(:medium) %>
    </div> -->

</div>




<!-- feature Modal -->
<div class="modal fade" id="feature">
    <div class="modal-dialog">
        <div class="modal-content" style="border-radius: 0px">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h2 style="text-align: center; font-family: lato">Start giving & receiving feedback</h2>
            </div>
            <div class="modal-body">

                <!-- start form body -->
                <div class="leads-modal">

                    <%= feature.name %>
                    <%= feature.company %>

                </div>
                <!-- end form body -->

            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
</div>
