<%= simple_form_for(@feature, html: { class: "form-horizontal"}) do |f| %>
  <%= f.error_notification %>

  <%= f.input :name %>

  <%= f.input :description %>

  <%= f.input :company %>

  <%= f.input :priority %>

  <%= f.input :shot1, label: false %>

  <%= f.input :shot2, label: false %>

  <%= f.input :shot3, label: false %>

  <div class="form-actions">
    <%= f.button :submit, class: "btn btn-primary" %>
  </div>
<% end %>