<% if current_user.email.present? %>
<!-- blank space if email is present -->
<% else %>

<!-- start announcement if user is missing email -->
<div class="announcement">
    <p>Thanks for signing up! 1 more step.</p>
    <%= simple_form_for(current_user) do |f| %> 
    <table>
        <tr>
            <td>
                <%= f.text_field :email, label: false, placeholder: 'Enter your email', class: "email-form" %>
            </td>
            <td>

                <%= f.submit "Save", class: "email-button" %>
            </td>
        </tr>
    </table>
    <% end %>
</div>
<% end %>
<!-- end announcement if user is missing email -->


<!-- start printing of each feature -->
<% @features_days.keys.sort { |x,y| y <=> x }.each do |day| %>
<!-- If i add "sort_by" it seems to sort correctly on local but not on prod -->
<div class="feature-date">
    <%= day.time.to_s(:humanized_ago) %>
</div>
<% for feature in @features_days[day] %>
<div class='feature-box'>
    <div id="upvote-box">
        <%= link_to content_tag(:i, "", class: "glyphicon glyphicon-arrow-up") + "", vote_feature_path(feature, type: "up"), method: "post" %>
        <br>
        <%= pluralize feature.reputation_for(:votes).to_i, "" %>
    </div>
    <div id="show-title">
        <a href="/features/<%= feature.id %>"><%= h truncate(feature.name, length: 65) %></a>
        <div id="show-company">
            <% Company.find(feature.company_ids).each do |c| %> 
            <a href="/companies/<%= c.id %>" target="_blank"><%= c.name %></a>
            <% end %>
        </div>
    </div>

    <!-- <div id="box-image">
        <%= image_tag User.find(feature.user_id).avatar(:medium) %>
    </div> -->

</div>
<% end %>
<% end %>
<!-- end printing of each feature -->
<br>

<div>
   <form action="/features/new">
      <input class="new-feature-button" type="submit" value="Post a feature">
  </form>
</div>