<% @features_days.keys.sort_by.each do |day| %>
<div class="feature-date">
    <%= day.time.to_s(:humanized_ago) %>
</div>
<% for feature in @features_days[day] %>
<div class='feature-box'>
    <div id="upvote-box">
        <%= link_to content_tag(:i, "", class: "glyphicon glyphicon-arrow-up") + "", vote_feature_path(feature, type: "up"), method: "post" %>
        <br>
        <%= pluralize feature.reputation_for(:votes).to_i, "" %>
    </div>
    <div id="show-title">
        <a href="/features/<%= feature.id %>"><%= feature.name %></a>
        <div id="show-company">
            <%= feature.company %>
        </div>
    </div>

    <div id="box-image">
        <%= image_tag User.find(feature.user_id).avatar(:medium) %>
    </div>

</div>
<% end %>
<% end %>
<br>

<div>
   <form action="/features/new">
      <input class="new-feature-button" type="submit" value="Post a feature">
  </form>
</div>