<!DOCTYPE html>
<html>
<head>
	<title>Feature Hunt</title>
	<%= stylesheet_link_tag    "application", :media => "all" %>
	<%= javascript_include_tag "application" %>
	<%= csrf_meta_tags %>
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
	<!-- start google fonts -->
	<link href='http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic' rel='stylesheet' type='text/css'>
	<!-- end google fonts -->


	<!-- start Google Analytics -->
	<script>
		(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
			(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
			m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

		ga('create', 'UA-57707644-1', 'auto');
		ga('send', 'pageview');

	</script>
	<!-- end Google Analytics -->

	<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
	<script src="js/modernizr.js"></script>
	<script src='http://codepen.io/assets/libs/fullpage/jquery.js'></script>
	<%= tag :meta, name: "viewport", content: "width=device-width, initial-scale=1.0" %>
	<link rel="shortcut icon" href="https://s3.amazonaws.com/featurehunt/FeatureHunt.png">





	<link rel="stylesheet" type="text/css" media="screen" href="http://cdnjs.cloudflare.com/ajax/libs/fancybox/1.3.4/jquery.fancybox-1.3.4.css" />
	<style type="text/css">
		a.fancybox img {
			border: none;
			box-shadow: 0 1px 7px rgba(0,0,0,0.6);
			-o-transform: scale(1,1); -ms-transform: scale(1,1); -moz-transform: scale(1,1); -webkit-transform: scale(1,1); transform: scale(1,1); -o-transition: all 0.2s ease-in-out; -ms-transition: all 0.2s ease-in-out; -moz-transition: all 0.2s ease-in-out; -webkit-transition: all 0.2s ease-in-out; transition: all 0.2s ease-in-out;
		} 
		a.fancybox:hover img {
			position: relative; z-index: 999; -o-transform: scale(1.03,1.03); -ms-transform: scale(1.03,1.03); -moz-transform: scale(1.03,1.03); -webkit-transform: scale(1.03,1.03); transform: scale(1.03,1.03);
		}
	</style>
</head>
<body>
	
	<%= render 'layouts/header' unless @disable_nav %>

		<!-- <% flash.each do |name, msg| %>
		<%= content_tag(:div, msg, class: "alert alert-#{name}") %>
		<% end %> -->
		<div class="contents">
			<div class="site-content">
				<%= yield %>
			</div>
			<%= render 'layouts/footer' %>
		</div>

		<script>
			var meny = Meny.create({
    // The element that will be animated in from off screen
    menuElement: document.querySelector( '.meny' ),

    // The contents that gets pushed aside while Meny is active
    contentsElement: document.querySelector( '.contents' ),

    // The alignment of the menu (top/right/bottom/left)
    position: 'left',

    // The height of the menu (when using top/bottom position)
    height: 200,

    // The width of the menu (when using left/right position)
    width: 260,

    // The angle at which the contents will rotate to.
    angle: 30,

    // The mouse distance from menu position which can trigger menu to open.
    threshold: 60,

    // Width(in px) of the thin line you see on screen when menu is in closed position.
    overlap: 8,

    // The total time taken by menu animation.
    transitionDuration: '0.5s',

    // Transition style for menu animations
    transitionEasing: 'ease',

    // Gradient overlay for the contents
    gradient: 'rgba(0,0,0,0.00) 0%, rgba(0,0,0,0.00) 100%)',

    // Use mouse movement to automatically open/close
    mouse: true,

    // Use touch swipe events to open/close
    touch: true
});
</script>



<script type="text/javascript" src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
<script type="text/javascript" src="http://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
<script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/fancybox/1.3.4/jquery.fancybox-1.3.4.pack.min.js"></script>
<script type="text/javascript">
	$(function($){
		var addToAll = true;
		var gallery = true;
		var titlePosition = 'inside';
		$(addToAll ? 'img' : 'img.fancybox').each(function(){
			var $this = $(this);
			var title = $this.attr('title');
			var src = $this.attr('data-big') || $this.attr('src');
			var a = $('<a href="#" class="fancybox"></a>').attr('href', src).attr('title', title);
			$this.wrap(a);
		});
		if (gallery)
			$('a.fancybox').attr('rel', 'fancyboxgallery');
		$('a.fancybox').fancybox({
			titlePosition: titlePosition
		});
	});
	$.noConflict();
</script>
</body>
</html>
